{% extends "base.html" %}

{% block content %}
<h1 style="display:inline-block">Add Post</h1>
{% with messages = get_flashed_messages(with_categories=True)%}
{% for category,message in messages %}
    <p class="confirm">{{message}}</p>
{% endfor %}
{% endwith %}
<form method='post'>
        <label>
            Title your new blog post:
            <input type="text" name='title' value="{{post_title}}"/>
            {% if error %}
            <p class="error">{{error}}</p>
            {%endif%}
        </label>

        <label>
            Your new post:
            <textarea type="text" name="body" value="{{post_body}}"></textarea>
            {% if error2 %}
            <p class="error">{{error2}}</p>
            {%endif%}
        </label>
        <input type="submit" value='Add Entry'/>
    </form>

{% endblock%}