{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>
    {% with messages = get_flashed_messages()%}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endwith %}
    {% if post|length == 0 %}
    <p>No Post yet</p>
    {% else %}

        {% for post in post %}
        <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
        <p>{{post.body}}</p>
        <p>written by <a href="/blog?user={{post.owner.username}}">{{post.owner.username}}</a></p>
        {% endfor %}


    {% endif %}
{% endblock %}